<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455717409258-s63g3f3sngef75tke47l4esdsq1nq37s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455717409258-s63g3f3sngef75tke47l4esdsq1nq37s</string>
	<key>API_KEY</key>
	<string>AIzaSyBtZ-ZoM6OKJo5bJhhLs-CwXUUNcCKMYcE</string>
	<key>GCM_SENDER_ID</key>
	<string>455717409258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandonbaker.OptionAnalyzer</string>
	<key>PROJECT_ID</key>
	<string>option-analyzer</string>
	<key>STORAGE_BUCKET</key>
	<string>option-analyzer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:455717409258:ios:ef576e6a169c8bb5c62293</string>
	<key>DATABASE_URL</key>
	<string>https://option-analyzer.firebaseio.com</string>
</dict>
</plist>
